<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paytm merchant payment page</title>
</head>
<body>
<h1>Redirecting you to the merchant....</h1>
<h1>Please do not refresh your page....</h1>
<form action="https://securegw-stage.paytm.in/theia/api/v1/showPaymentPage?mid=AVjbPn81825059245113&orderId={{data.order_id}}" method="post" name="paytm">
    {% for key, value in data.items %}
    <input type="hidden" name="{{key}}" value="{{value}}">
    {% endfor %}

</form>

</body>
<!--<script type="application/javascript" crossorigin="anonymous" src="https://securegw-stage.paytm.in/merchantpgpui/checkoutjs/merchants/AVjbPn81825059245113.js" onload="onScriptLoad();"> </script>-->
<!--<script>-->
<!--  function onScriptLoad(){-->
<!--      var config = {-->
<!--        "root": "",-->
<!--        "flow": "DEFAULT",-->
<!--        "data": {-->
<!--        "orderId": data.order_id, /* update order id */-->
<!--        "token": "", /* update token value */-->
<!--        "tokenType": data.txnToken,-->
<!--        "amount": "1.00" /* update amount */-->
<!--        },-->
<!--        "handler": {-->
<!--          "notifyMerchant": function(eventName,data){-->
<!--            console.log("notifyMerchant handler function called");-->
<!--            console.log("eventName => ",eventName);-->
<!--            console.log("data => ",data);-->
<!--          }-->
<!--        }-->
<!--      };-->

<!--      if(window.Paytm && window.Paytm.CheckoutJS){-->
<!--          window.Paytm.CheckoutJS.onLoad(function excecuteAfterCompleteLoad() {-->
<!--              // initialze configuration using init method-->
<!--              window.Paytm.CheckoutJS.init(config).then(function onSuccess() {-->
<!--                  // after successfully updating configuration, invoke JS Checkout-->
<!--                  window.Paytm.CheckoutJS.invoke();-->
<!--              }).catch(function onError(error){-->
<!--                  console.log("error => ",error);-->
<!--              });-->
<!--          });-->
<!--      }-->
<!--  }-->
<!--</script>-->

<script>
document.paytm.submit()
</script>



</html>